<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MaterialDesignSample</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/material-components-web/dist/css/material-components-web.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@0.10.0/dist/material-components-web.min.css"
            integrity="sha384-IFkPQmRFyTBKrUvz3VU/J5Slt3DFkjWVke6xnDDrneTZYzngSQ8zM0cXESBFOV/t"
            crossorigin="anonymous" asp-fallback-href="~/lib/material-components-web/dist/css/material-components-web.min.css"
            asp-fallback-test-class="mdc-fab__icon" asp-fallback-test-property="display" asp-fallback-test-value="flex" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
    <header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="catalog-logo">
            <img src="/images/ic_component_24px_white.svg">
          </span>
          <!--<a href="#" class="material-icons">menu</a>-->
          <span class="mdc-toolbar__title catalog-title">Material Components Catalog</span>
        </section>
      </div>
    </header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">MaterialDesignSample</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/About">About</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - MaterialDesignSample</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/material-components-web/dist/css/material-components-web.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://unpkg.com/material-components-web@0.10.0/dist/material-components-web.min.js"
                asp-fallback-src="~/lib/material-components-web/dist/css/material-components-web.min.js"
                asp-fallback-test="window.mdc"
                crossorigin="anonymous"
                integrity="sha384-D65tyVisQMkNTuGCyMgbXhjXti5DUxIUXYYKDPfOEf4/2dfe83xfQcBmcPUvEC6r">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
