@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<main class="demo-main mdc-toolbar-fixed-adjust">
    <h1 class="mdc-typography--display1">Temporary Drawer</h1>
    <p class="mdc-typography--body1">Click the menu icon above to open.</p>
</main>