.demo-body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* A simple menu button. */

.demo-menu {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    margin-right: 24px;
    color: #FFF;
    box-sizing: border-box;
}

.demo-main {
    padding-left: 16px;
    overflow: auto;
}